// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**
 * 2025 Cranleigh Rebrand Colours
 */
$cranleigh-blue: #021E42;
$cranleigh-gold: #B0AA7E;

a {
    color: $cranleigh-blue;
}

.raiseaconcern-container {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-card {
    padding: 20px;
}

$theme-colors: (
    "primary": $cranleigh-blue,
);
.bg-cranleigh {
    background: $cranleigh-blue;
}

footer a {
    color: white;
    text-decoration: underline;
}

nav.navbar.navbar-dark {
    background: $cranleigh-blue !important;
    color: #fff !important;
    border-bottom: 10px solid $cranleigh-gold;
}

a {
    text-decoration: none;
    &:hover:not(.btn) {
        text-decoration: underline;
    }
}
.text-gold {
    color: $cranleigh-gold;
}
.card {
    border-color: $cranleigh-blue;
    a:not(.btn) {
        color: $cranleigh-gold;
    }
}

.card-header {
    background-color: $cranleigh-blue;
    color: #fff;
}

.card-footer {
    background-color: $cranleigh-blue;
    color: #fff;

    a {
        color: $cranleigh-gold;
    }
}

.row.login-columns > div {
    padding: 30px;
}

.spacer {
    display: block;
    margin: 7.5px;
}

.self-reflection-card {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-blue, .btn-cranleigh {
    @include button-outline-variant($cranleigh-blue);
}

.btn-gold, .btn-cranprep {
    @include button-outline-variant($cranleigh-gold, #ffffff);
}
.btn-gold-fill {
    @include button-variant($cranleigh-gold, $cranleigh-gold, #ffffff, $cranleigh-blue, $cranleigh-gold, $cranleigh-gold, $cranleigh-gold, #ffffff);
}

#whogetsnotified {
    font-weight: bolder;
}

textarea#reflection {
    height: 200px;
}

footer > div.container {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
